@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lemon&family=Noto+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
* .home{
    overflow-x: hidden;
}
* .wwdintro{
    background-color: #745e4d;
}
* .wwd{
    background-color: black;
}
* .abtus{
    background-color: #f8f7f4;
}
/*part ng banner*/
#vidbg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}
/*header*/
header nav{
    display: flex;
    background-color: #bd9478;
    justify-content: space-around;
    padding-top: 1vw;
    padding-bottom: 1vw;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}
nav span h1{
    font-family: 'Lemon', serif;
}
nav a{
    background-color: #bd9478;
    text-decoration: none;
    color: whitesmoke;
}
.links a{
    margin-left: 1vw;
}
.links a:hover{
    color: #745e4d;
    transition: 0.5s;
}
/*footer*/
footer{
    display: flex;
    justify-content: center;
    bottom: 0;
}
.icon{
    background: url(../images/sprite3.png) no-repeat;
    width: 66px;
    height: 66px;
    display: inline-block;
    margin-right: 10px;
}
#fb{
    background-position: -439px -146px;
}
#twt{
    background-position: -66px -72px;
}
#ig{
    background-position: -290px -221px;
}
/*page1*/
.banner{
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    background-color: #f8f7f464;
    margin-top: 20vw;
    z-index: -1;
    padding: 5vw;
}
.bannertxt{
    margin-top: 20px;
    margin-left: 20px;
}
.bannerheader{
    font-family: 'Lemon', serif;
    font-size: 35pt;
}
#logo img{
    transform: translate(50vw, -27vw);
    padding: 0;
    margin: 0;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddc1a7;
    border-radius: 5px;
    height: 30vh;
    width: 80vw;
    margin-left: 150px;
    margin-bottom: 5vw;
}
.box1 h1{
    font-family: 'Handlee', serif;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.box1 p{
    font-size: larger;
    margin: 20px;
}
.box2{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #ddc1a7;
    border-radius: 5px;
    height: 30vh;
    width: 80vw;
    margin-left: 150px;
    margin-bottom: 2vw;
}
.box2 p{
    font-size: larger;
    margin: 20px;
}
#img1 img{
    float: left;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 2vw;
}
#img2 img{
    float: right;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 2vw;
}
.box3{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #ddc1a7;
    border-radius: 5px;
    height: 30vh;
    width: 80vw;
    margin-left: 150px;
    margin-bottom: 5vw;
}
.box3 p{
    font-size: larger;
    margin: 20px;
}
/*page2*/
.wwdintro{
    height: 100vh;
    overflow-y: hidden;
}
.camera{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.camera img{
    width: 750px;
    height: 500px;
}
.camera img:hover{
    content: url(/images/camclick.png);
    transition: 0.1s;
}
/*page3*/
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-text h1{
    color: white;
    font-family: 'Noto Sans', serif;
    text-align: center;
    font-size: 50pt;
}
article{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.content-text{
    margin-top: 10vw;
    margin-bottom: 10vw;
}
.acts{
    margin-bottom: 10vw;
}
/*page4*/
.intro{
    padding-top: 7vw;
    text-align: center;
}
.intro h1{
    font-family: 'Handlee', serif;
}
.batch h2{
    font-family: 'Handlee', serif;
}
.b23{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.b23 img{
    width: 60vw;
    height: 60vh; 
}
.b24{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.b24 img{
    width: 60vw;
    height: 60vh; 
}
.b25{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.b25 img{
    width: 60vw;
    height: 60vh; 
}
.b26{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.b26 img{
    width: 60vw;
    height: 60vh; 
}
.b27{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.b27 img{
    width: 60vw;
    height: 60vh; 
}
.mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ddc1a7;
    border-radius: 5px;
    height: 20vh;
    width: 60vw;
    margin-left: 300px;
    margin-bottom: 2vw;
    margin-top: 5vw;
}
.mission h1{
    font-family: 'Handlee', serif;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.vision{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ddc1a7;
    border-radius: 5px;
    height: 20vh;
    width: 60vw;
    margin-left: 300px;
    margin-bottom: 2vw;
}
.vision h1{
    font-family: 'Handlee', serif;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.help{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ddc1a7;
    border-radius: 5px;
    height: 20vh;
    width: 60vw;
    margin-left: 300px;
    margin-bottom: 2vw;
}
.help h1{
    font-family: 'Handlee', serif;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.memcontacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ddc1a7;
    border-radius: 5px;
    height: 20vh;
    width: 60vw;
    margin-left: 300px;
    margin-bottom: 2vw;
}
.memcontacts h2{
    margin-top: 1vw;
    font-family: 'Handlee', serif;
}
ol{
    list-style-type: none;
}