@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lemon&family=Noto+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
* .home{
    overflow-x: hidden;
}
* .wwdintro{
    background-color: #745e4d;
}
* .wwd{
    background-color: black;
}
* .abtus{
    background-color: #f8f7f4;
}
#vidbg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}
header nav{
    display: flex;
    background-color: #bd9478;
    justify-content: space-around;
    padding-top: 1vw;
    padding-bottom: 1vw;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}
nav span h1{
    font-family: 'Lemon', serif;
}
nav a{
    background-color: #bd9478;
    text-decoration: none;
    color: whitesmoke;
}
.links a{
    margin-left: 1vw;
}
.banner{
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    background-color: #f8f7f464;
    margin-top: 20vw;
    z-index: -1;
    padding: 5vw;
}
.bannertxt{
    margin-top: 20px;
    margin-left: 20px;
}
.bannerheader{
    font-family: 'Lemon', serif;
    font-size: 35pt;
}
#logo img{
    transform: translate(50vw, -27vw);
    padding: 0;
    margin: 0;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddc1a7;
    border-radius: 5px;
    height: 30vh;
    width: 80vw;
    margin-left: 150px;
    margin-bottom: 5vw;
}
.box1 h1{
    font-family: 'Handlee', serif;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.box1 p{
    font-size: larger;
    margin: 20px;
}
.box2{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #ddc1a7;
    border-radius: 5px;
    height: 30vh;
    width: 80vw;
    margin-left: 150px;
    margin-bottom: 2vw;
}
.box2 p{
    font-size: larger;
    margin: 20px;
}
